@model StudentiViewModel
<h1>Inserisci nuovo Studenti</h1>
@{
    ViewBag.Readonly = false;
}
<form method="post">


    <partial name="_Form" model="Model" />


    <input type="submit" value="Inserisci" class="tbn btn-primary" />
    <input type="reset" value="Reset" class="=btn btn-primary" />
    <a class="btn btn-primary" asp-controller="Docenti" asp-action="Index" role="button">Indietro</a>

</form>